.mu-checkbox-icon,
.mu-radio-icon {
    margin-right: 2px
}

.mu-checkbox.label-left .mu-checkbox-icon {
    margin-left: 2px
}

.mu-checkbox-label,
.mu-radio-label {
    color: inherit;
    font-size: 14px;
    margin-right: 5px;
}